.easy-tabs {
    --width: auto;
    --height: auto;

    --tabHeight: 25px;
    --tabMaxWidth: 180px;
    --tabMinWidth: 80px;
    --tabFontSize: 14px;
    --tabColor: #ffffff;
    --tabColor-unSel: #aaaaaa;

    --borderColor: #383838;
    --bgColor: #535353;
    --bgColor-unSel: #424242;
    --bgColor-unSel-hover: #4d4d4d;

    --contentColor: #ffffff;
    --contentFontSize: 14px;

    margin: 0;
    padding: 0;
}

.easy-tabs-menu {
    --minWidth: 100px;
    --maxWidth: 300px;
    --borderColor: #383838;
    --bgColor: #535353;
    --bgColor-hover: #777777;
    --titleColor: #ffffff;
    --titleColor-disabled: #aaaaaa;
    --dividerColor: #3c3c3c;
    --arrowColor: #ffffff;
    --fontSize: 14px;
    --shadow: 0 2px 8px rgba(0,0,0,0.3);

    --itemHeight: 22px;
    --itemPadding: 2px 8px;
}

.easy-tabs-tabs {
    width: var(--width);
    height: var(--height);
    position: relative;
    display: flex;
    flex-direction: column;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: red;*/
    overflow: hidden;
    box-sizing: border-box;
}

.easy-tabs-tabNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: var(--tabHeight);
    z-index: 100;
}

.easy-tabs-tab {
    padding: 0 8px;
    margin-right: -1px;
    max-width: var(--tabMaxWidth);
    min-width: var(--tabMinWidth);
    flex-shrink:0;/* 空间不足，该项目不缩小 */

    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: default;

    font-size: var(--tabFontSize);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;

    box-sizing: border-box;
}

/*未选择-常态*/
.easy-tabs-tab-unSel {
    background-color: var(--bgColor-unSel);
    color: var(--tabColor-unSel);
}
/*未选择-鼠标经过*/
.easy-tabs-tab-unSel:hover {
    background-color: var(--bgColor-unSel-hover);
}
/*未选择-鼠标按下*/
.easy-tabs-tab-unSel:active {
    background-color: #383838;
}
/*选择-常态*/
.easy-tabs-tab-sel {
    background-color: var(--bgColor);
    color: var(--tabColor);
    border-bottom-color: var(--bgColor);
}
/*选择-鼠标经过*/
.easy-tabs-tab-sel:hover {
    background-color: var(--bgColor);
}
/*选择-鼠标按下*/
.easy-tabs-tab-sel:active {
    background-color: var(--bgColor);
}

.easy-tabs-title {
    flex: 1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.easy-tabs-closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 11px;
    height: 11px;
    margin-left: 10px;
    outline: none;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;

    border-color: rgba(99,99,99,0);
    background-color: rgba(56,56,56,0);
    transition: 0.3s;
    transition-property: all;
}

.easy-tabs-closeBtn:hover {
    border-color: rgba(99,99,99,1);
}

.easy-tabs-closeBtn:active {
    background-color: rgba(56,56,56,1);
}

.easy-tabs-content {
    flex: 1;
    overflow: auto;
    background-color: var(--bgColor);
    font-size: var(--contentFontSize);
    color: var(--contentColor);
    padding: 8px;
    margin-top: -1px;

    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
}

.easy-tabs-moreTab {
    width: 27px;
    min-width: 27px;
}